<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ky-thuat-ho-tro-heading"
        data-cy="KyThuatHoTroCreateUpdateHeading"
        jhiTranslate="dinhDuongApp.kyThuatHoTro.home.createOrEditLabel"
      >
        Create or edit a Ky Thuat Ho Tro
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dinhDuongApp.kyThuatHoTro.maKyThuat" for="field_maKyThuat">Ma Ky Thuat</label>
          <input type="number" class="form-control" name="maKyThuat" id="field_maKyThuat" data-cy="maKyThuat" formControlName="maKyThuat" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dinhDuongApp.kyThuatHoTro.tenKyThuat" for="field_tenKyThuat">Ten Ky Thuat</label>
          <input
            type="text"
            class="form-control"
            name="tenKyThuat"
            id="field_tenKyThuat"
            data-cy="tenKyThuat"
            formControlName="tenKyThuat"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dinhDuongApp.kyThuatHoTro.thuTuSX" for="field_thuTuSX">Thu Tu SX</label>
          <input type="number" class="form-control" name="thuTuSX" id="field_thuTuSX" data-cy="thuTuSX" formControlName="thuTuSX" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dinhDuongApp.kyThuatHoTro.hoTro" for="field_hoTro">Ho Tro</label>
          <select class="form-control" id="field_hoTro" data-cy="hoTro" name="hoTro" formControlName="hoTro">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="hoTroOption.id === editForm.get('hoTro')!.value?.id ? editForm.get('hoTro')!.value : hoTroOption"
              *ngFor="let hoTroOption of hoTrosCollection; trackBy: trackHoTroById"
            >
              {{ hoTroOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
