<div>
  <h2 id="page-heading" data-cy="ChiDaoTuyenHeading">
    <span jhiTranslate="dinhDuongApp.chiDaoTuyen.home.title">Chi Dao Tuyens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dinhDuongApp.chiDaoTuyen.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chi-dao-tuyen"
        [routerLink]="['/chi-dao-tuyen/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dinhDuongApp.chiDaoTuyen.home.createLabel"> Create a new Chi Dao Tuyen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chiDaoTuyens?.length === 0">
    <span jhiTranslate="dinhDuongApp.chiDaoTuyen.home.notFound">No chiDaoTuyens found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chiDaoTuyens && chiDaoTuyens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maCdt">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.maCdt">Ma Cdt</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="soQuyetDinh">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.soQuyetDinh">So Quyet Dinh</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ngayQuyetDinh">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.ngayQuyetDinh">Ngay Quyet Dinh</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="soHD">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.soHD">So HD</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ngayHD">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.ngayHD">Ngay HD</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lyDoCT">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.lyDoCT">Ly Do CT</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="noiDung">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.noiDung">Noi Dung</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="noiCongTac">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.noiCongTac">Noi Cong Tac</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ngayBatDau">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.ngayBatDau">Ngay Bat Dau</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ngayKetThuc">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.ngayKetThuc">Ngay Ket Thuc</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ghiChu">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.ghiChu">Ghi Chu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="noiDungHoTro">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.noiDungHoTro">Noi Dung Ho Tro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="baoCaoTaiChinh">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.baoCaoTaiChinh">Bao Cao Tai Chinh</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lyDoCongTac.id">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.lyDoCongTac">Ly Do Cong Tac</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nhanVienTiepNhan.id">
            <span jhiTranslate="dinhDuongApp.chiDaoTuyen.nhanVienTiepNhan">Nhan Vien Tiep Nhan</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chiDaoTuyen of chiDaoTuyens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chi-dao-tuyen', chiDaoTuyen.id, 'view']">{{ chiDaoTuyen.id }}</a>
          </td>
          <td>{{ chiDaoTuyen.maCdt }}</td>
          <td>{{ chiDaoTuyen.soQuyetDinh }}</td>
          <td>{{ chiDaoTuyen.ngayQuyetDinh | formatMediumDatetime }}</td>
          <td>{{ chiDaoTuyen.soHD }}</td>
          <td>{{ chiDaoTuyen.ngayHD | formatMediumDatetime }}</td>
          <td>{{ chiDaoTuyen.lyDoCT }}</td>
          <td>{{ chiDaoTuyen.noiDung }}</td>
          <td>{{ chiDaoTuyen.noiCongTac }}</td>
          <td>{{ chiDaoTuyen.ngayBatDau | formatMediumDatetime }}</td>
          <td>{{ chiDaoTuyen.ngayKetThuc | formatMediumDatetime }}</td>
          <td>{{ chiDaoTuyen.ghiChu }}</td>
          <td>{{ chiDaoTuyen.noiDungHoTro }}</td>
          <td>{{ chiDaoTuyen.baoCaoTaiChinh }}</td>
          <td>
            <div *ngIf="chiDaoTuyen.lyDoCongTac">
              <a [routerLink]="['/ly-do-cong-tac', chiDaoTuyen.lyDoCongTac?.id, 'view']">{{ chiDaoTuyen.lyDoCongTac?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="chiDaoTuyen.nhanVienTiepNhan">
              <a [routerLink]="['/nhan-vien-tiep-nhan', chiDaoTuyen.nhanVienTiepNhan?.id, 'view']">{{
                chiDaoTuyen.nhanVienTiepNhan?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chi-dao-tuyen', chiDaoTuyen.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/chi-dao-tuyen', chiDaoTuyen.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(chiDaoTuyen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="chiDaoTuyens && chiDaoTuyens.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
