<div>
  <h2 id="page-heading" data-cy="DieuTriHeading">
    <span jhiTranslate="dinhDuongApp.dieuTri.home.title">Dieu Tris</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dinhDuongApp.dieuTri.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dieu-tri"
        [routerLink]="['/dieu-tri/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dinhDuongApp.dieuTri.home.createLabel"> Create a new Dieu Tri </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dieuTris?.length === 0">
    <span jhiTranslate="dinhDuongApp.dieuTri.home.notFound">No dieuTris found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dieuTris && dieuTris.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.maDieuTri">Ma Dieu Tri</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.hoTen">Ho Ten</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.maBenhAn">Ma Benh An</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.tenBSDieuTri">Ten BS Dieu Tri</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.nguoiNha">Nguoi Nha</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.giuong">Giuong</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.maTheBHYT">Ma The BHYT</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.ngayVaoKhoa">Ngay Vao Khoa</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.ngayRaVien">Ngay Ra Vien</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.bVChuyen">B V Chuyen</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.ketQuaDieuTri">Ket Qua Dieu Tri</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.lichSuChuyenKhoa">Lich Su Chuyen Khoa</span></th>
          <th scope="col"><span jhiTranslate="dinhDuongApp.dieuTri.hoaDon">Hoa Don</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dieuTri of dieuTris; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dieu-tri', dieuTri.id, 'view']">{{ dieuTri.id }}</a>
          </td>
          <td>{{ dieuTri.maDieuTri }}</td>
          <td>{{ dieuTri.hoTen }}</td>
          <td>{{ dieuTri.maBenhAn }}</td>
          <td>{{ dieuTri.tenBSDieuTri }}</td>
          <td>{{ dieuTri.nguoiNha }}</td>
          <td>{{ dieuTri.giuong }}</td>
          <td>{{ dieuTri.maTheBHYT }}</td>
          <td>{{ dieuTri.ngayVaoKhoa | formatMediumDatetime }}</td>
          <td>{{ dieuTri.ngayRaVien | formatMediumDatetime }}</td>
          <td>{{ dieuTri.bVChuyen }}</td>
          <td>{{ dieuTri.ketQuaDieuTri }}</td>
          <td>{{ dieuTri.lichSuChuyenKhoa }}</td>
          <td>
            <div *ngIf="dieuTri.hoaDon">
              <a [routerLink]="['/hoa-don', dieuTri.hoaDon?.id, 'view']">{{ dieuTri.hoaDon?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dieu-tri', dieuTri.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dieu-tri', dieuTri.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dieuTri)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
