<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="noiDenCongTac">
      <h2 data-cy="noiDenCongTacDetailsHeading"><span jhiTranslate="dinhDuongApp.noiDenCongTac.detail.title">Noi Den Cong Tac</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ noiDenCongTac.id }}</span>
        </dd>
        <dt><span jhiTranslate="dinhDuongApp.noiDenCongTac.maNoiDen">Ma Noi Den</span></dt>
        <dd>
          <span>{{ noiDenCongTac.maNoiDen }}</span>
        </dd>
        <dt><span jhiTranslate="dinhDuongApp.noiDenCongTac.tenNoiDen">Ten Noi Den</span></dt>
        <dd>
          <span>{{ noiDenCongTac.tenNoiDen }}</span>
        </dd>
        <dt><span jhiTranslate="dinhDuongApp.noiDenCongTac.thuTuSX">Thu Tu SX</span></dt>
        <dd>
          <span>{{ noiDenCongTac.thuTuSX }}</span>
        </dd>
        <dt><span jhiTranslate="dinhDuongApp.noiDenCongTac.chiDaoTuyen">Chi Dao Tuyen</span></dt>
        <dd>
          <div *ngIf="noiDenCongTac.chiDaoTuyen">
            <a [routerLink]="['/chi-dao-tuyen', noiDenCongTac.chiDaoTuyen?.id, 'view']">{{ noiDenCongTac.chiDaoTuyen?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/noi-den-cong-tac', noiDenCongTac.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
