<div>
  <h2 id="page-heading" data-cy="KyThuatHoTroHeading">
    <span jhiTranslate="dinhDuongApp.kyThuatHoTro.home.title">Ky Thuat Ho Tros</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dinhDuongApp.kyThuatHoTro.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ky-thuat-ho-tro"
        [routerLink]="['/ky-thuat-ho-tro/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dinhDuongApp.kyThuatHoTro.home.createLabel"> Create a new Ky Thuat Ho Tro </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="kyThuatHoTros?.length === 0">
    <span jhiTranslate="dinhDuongApp.kyThuatHoTro.home.notFound">No kyThuatHoTros found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="kyThuatHoTros && kyThuatHoTros.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maKyThuat">
            <span jhiTranslate="dinhDuongApp.kyThuatHoTro.maKyThuat">Ma Ky Thuat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tenKyThuat">
            <span jhiTranslate="dinhDuongApp.kyThuatHoTro.tenKyThuat">Ten Ky Thuat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="thuTuSX">
            <span jhiTranslate="dinhDuongApp.kyThuatHoTro.thuTuSX">Thu Tu SX</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hoTro.id">
            <span jhiTranslate="dinhDuongApp.kyThuatHoTro.hoTro">Ho Tro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kyThuatHoTro of kyThuatHoTros; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ky-thuat-ho-tro', kyThuatHoTro.id, 'view']">{{ kyThuatHoTro.id }}</a>
          </td>
          <td>{{ kyThuatHoTro.maKyThuat }}</td>
          <td>{{ kyThuatHoTro.tenKyThuat }}</td>
          <td>{{ kyThuatHoTro.thuTuSX }}</td>
          <td>
            <div *ngIf="kyThuatHoTro.hoTro">
              <a [routerLink]="['/ho-tro', kyThuatHoTro.hoTro?.id, 'view']">{{ kyThuatHoTro.hoTro?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ky-thuat-ho-tro', kyThuatHoTro.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ky-thuat-ho-tro', kyThuatHoTro.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(kyThuatHoTro)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="kyThuatHoTros && kyThuatHoTros.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
